    .carousel,
    .container {
        max-width: 1005px;
        margin: 0 auto;
    }
    
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
    }
    /* 1. */
    
    .carousel-control,
    .carousel-control:hover {
        filter: none;
        opacity: 1;
        text-shadow: none;
    }
    
    .carousel-control.left,
    .carousel-control.right {
        background-image: none;
    }
    
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
        background-color: rgba(240, 12, 137, 0.1);
        font-size: 16px;
        height: 32px;
        line-height: 32px;
        margin-top: -16px;
        width: 32px;
    }
    
    .carousel-control .glyphicon-chevron-left {
        left: 0px;
        margin-left: 0;
    }
    
    .carousel-control .glyphicon-chevron-right {
        right: 0px;
        margin-right: 0;
    }
    
    .carousel-control:hover .glyphicon-chevron-left,
    .carousel-control:hover .glyphicon-chevron-right {
        background-color: rgba(240, 12, 137, 0.5);
        ;
    }
    
    .header {
        margin-bottom: 10px;
    }
    
    .menu {
        margin: 0;
        padding: 0;
        background: white;
        border: 0;
        border-top: 1px solid grey;
        border-bottom: 2px solid black;
        border-radius: 0;
    }
    
    .navbar-default .navbar-nav>li>a {
        color: black;
        font-size: 1.2em;
    }
    
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>li>a:hover {
        color: white;
        background: rgba(240, 12, 137, 0.9);
    }
    
    .navbar {
        box-shadow: none;
    }
    
    .social {
        margin: 10px;
        margin-top: 30px;
        width: 40px;
    }
    
    .registr {
        margin: 28px;
    }
    
    .header {
        text-align: center;
        margin-top: 5px;
    }
    
    @media (min-width: 768px) {
        .carousel-control .glyphicon-chevron-left,
        .carousel-control .glyphicon-chevron-right {
            font-size: 20px;
            height: 50px;
            line-height: 50px;
            margin-top: -25px;
            width: 50px;
        }
    }
    
    @media (max-width: 991px) {
        .social {
            margin-top: 0px;
        }
        .registr {
            margin: 18px;
        }
    }
    
    .btn-primary {
        background: #EE38B1;
        border: white solid 2px;
        border-radius: 8px;
        cursor: pointer;
        display: inline-block;
        padding: 8px 15px;
        text-decoration: none;
        text-align: center;
        min-width: 60px;
        position: relative;
        font-family: Verdana, sans-serif;
        font-size: 20px;
        color: white;
        border-color: white;
        box-shadow: -12px 19px 29px -7px #000000;
    }
    
    .btn-modal {
        box-shadow: none;
    }
    
    .btn:hover,
    .btn:focus,
    .btn:active {
        background: #F570C9;
        border-color: white;
        border-radius: 8px;
        outline: none;
    }
    
    .btn-primary {
        background: #EE38B1;
        border-color: white;
        color: #fff;
    }
    
    .btn-primary:active:focus,
    .btn-primary:hover {
        background: #F570C9;
        border-color: white;
        border-radius: 8px;
        outline: none;
    }
    
    .btn:active {
        transform: scale(0.95);
    }
    
    .textbox {
        height: 50px;
        width: 95%;
        border-radius: 3px;
        border: rgba(0, 0, 0, .3) 2px solid;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        padding: 10px;
        margin-bottom: 30px;
    }
    
    .link {
        color: black;
        text-decoration: underline;
    }
    
    .link:hover {
        text-decoration: none;
        color: black;
    }
    
    p {
        margin-top: 10px;
    }
    
    .p-footer {
        border: solid 1px silver;
        border-radius: 3px;
        padding: 5px;
        background-color: #F8F8F7;
        font-size: 16px;
    }
    
    .footer {
        background-image: url(img/footer.png);
        min-height: 185px;
        background-color: #333333;
        background-repeat: no-repeat;
    }
    
    .fot-menu {
        margin-left: 22px;
        font-size: 20px;
        color: #c3bdbd;
    }
    
    .bottom-menu a {
        text-decoration: none;
        list-style-type: none;
        color: white;
    }
    
    .bottom-menu li {
        text-decoration: none;
        list-style-type: none;
    }
    
    .bottom-menu a:hover {
        color: #bfb5b5;
    }
    
    .c1,
    .c2 {
        text-decoration: none;
        color: white;
    }
    
    a:hover.c1,
    a:hover.c2 {
        color: #bfb5b5;
        text-decoration: none;
    }
    
    .c2 {
        font-size: 1.25em;
    }
    
    .c1 {
        font-size: 2.9em;
    }
    
    .f-top {
        padding-top: 45px;
        padding-left: 9%;
    }
    
    .cont {
        font-style: normal;
        color: white;
        font-size: 1.2em;
        padding-top: 100px;
        padding-left: 20%;
    }
    
    .f-menu {
        padding-left: 0;
    }
    
    .sidebar {
        text-align: center;
        padding-top: 30px;
    }
    
    .price {
        font-size: 16px;
    }
    
    .red-link {
        color: red;
        font-size: 22px;
    }
    
    .red-link:hover {
        color: green;
    }
    
    .sidebar a,
    .sidebar h4,
    .sidebar a:hover {
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    
    @media (max-width: 767px) {
        .cont,
        .f-top {
            padding-top: 0px;
            padding-left: 8%;
        }
        .fot-menu {
            margin-left: 40px;
        }
        .footer {
            text-align: center;
        }
    }
