<h1> home page </h1>

  <form name="registrachija" action="" method="post" enctype='multipart/form-data'>

    
             
               <span class="form">Зображення:</span><br>
               
               <input type="file" name="uploadfile"  required /> <br><br>

             <input name="submit" class="btn" type="submit" value="Додати товар" /><br><br>
            </form>


           