<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
    <link rel="stylesheet" href="styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles/fonts/glyphicons-halflings-regular.eot">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="styles/css/style.css">
</head>

<body>

    header shop
    <?= $content ?>
    footer

    <script src="styles/js/jquery.js"></script>
    <script src="styles/js/bootstrap.min.js"></script>
</body>

</html>
